<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    <link href="~/Content/font-awesome.min.css" rel="stylesheet" />
    <link href="~/Content/jasny-bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Content/Site.css" rel="stylesheet" type="text/css" />
    <script src="~/Scripts/modernizr-2.8.3.js"></script>
</head>
<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Dictafoule</a>
        <ul class="navbar-nav mx-auto text-md-center text-left">
            <li class="nav-item active">
                <a class="nav-link" href="@Url.Action("Index", "Home")">Tableau de bord <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Create", "Project")">Nouveau projet</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="@Url.Action("Index", "Project")">Liste des projets</a>
            </li>
        </ul>
        <ul class="nav navbar-nav flex-row justify-content-md-center justify-content-start flex-nowrap">
            <li class="nav-item"><a class="nav-link" href="@Url.Action("Logout", "Authentication")"><i class="fa fa-user"></i></a> </li>
        </ul>
    </nav>



    <div class="container body-content">

        @RenderBody()

    </div>


    <script src="~/Scripts/jquery-3.4.1.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/scripts/jasny-bootstrap.js"></script>

    @RenderSection("scripts", required: false)

</body>
</html>